/******************************************Адаптивность*********************************************/


/***************************************** Навбар, Хэдер*********************************************/

@media (max-width: 1900px) {
    .nav-link {
        margin-right: 60px;
    }

    .header_text_p {
        font-size: 17px;
        margin-top: 30%;
        margin-left: 18%;
    }

    .header_text_h1 {
        font-size: 50px;
        margin-left: 18%;
    }

    .header_text_h2 {
        font-size: 20px;
        margin-left: 18%;
    }
    .header_buttons {
        margin-top: 27% !important;
    }
}

@media (max-width: 1600px) {
    .nav-link {
        margin-right: 40px;
    }

    .navbar_logo {
        width: 180px;
    }

    .navbar-brand {
        margin-left: 55px;
    }

    .header_text_p {
        margin-top: 27%;
        font-size: 15px;
        margin-left: 18%;
    }

    .header_buttons {
        margin-top: 12% !important;
    }

    .header_text_h1 {
        font-size: 44px;
        margin-left: 18%;
    }

    .header_text_h2 {
        font-size: 17px;
        margin-left: 18%;
    }
}

@media (max-width: 1430px) {
    .nav-link {
        margin-right: 30px;
        font-size: 16px;
    }

    .header_text_p {
        margin-top: 27%;
        font-size: 14px;
        margin-left: 18%;
    }

    .header_buttons {
        margin-top: 12% !important;
    }

    .header_text_h1 {
        font-size: 40px;
        margin-left: 18%;
    }

    .header_text_h2 {
        font-size: 16px;
        margin-left: 18%;
    }

    .header_button_left,
    .header_button_right {
        max-width: 258px !important;
        max-height: 40px !important;
        font-size: 13px !important;
        padding: 8px 66px !important;
    }

    .arrow_down img {
        width: 28px;
    }
}

@media (max-width: 1340px) {
    .nav-link {
        margin-right: 20px;
    }

    .navbar-brand {
        margin-left: 35px;
    }

    .header_text_p {
        margin-top: 27%;
        font-size: 14px;
        margin-left: 18%;
    }

    .header_buttons {
        margin-top: 12% !important;
    }

    .header_text_h1 {
        font-size: 40px;
        margin-left: 18%;
    }

    .header_text_h2 {
        font-size: 16px;
        margin-left: 18%;
    }
}

@media (max-width: 1250px) {
    .nav-link {
        margin-right: 15px;
        font-size: 14px;
    }

    .navbar-brand {
        margin-left: 25px;
    }

    .navbar_logo {
        width: 140px;
    }

    .header_text_p {
        margin-top: 27%;
        font-size: 11px;
        margin-bottom: 0;
        margin-left: 18%;
    }

    .header_text_h1 {
        font-size: 31px;
        margin-bottom: 0;
        margin-left: 18%;
    }

    .header_text_h2 {
        font-size: 12px;
        margin-bottom: 0;
        margin-left: 18%;
    }

    .header_buttons {
        margin-top: 12% !important;
    }

    .arrow_down img {
        width: 24px;
    }
}

@media (max-width: 1170px) {
    .nav-link {
        margin-right: 5px;
        font-size: 13px;
    }

    .navbar-brand {
        margin-left: 15px;
    }

    .navbar_logo {
        width: 130px;
    }

    .header_text_p {
        font-size: 10px;
        margin-top: 27%;
        margin-left: 18%;
    }

    .header_text_h1 {
        font-size: 29px;
        margin-left: 18%;
    }

    .header_text_h2 {
        font-size: 12px;
        margin-left: 18%;
    }

    .arrow_down {
        margin-top: 40px;
    }

    .header_button_left,
    .header_button_right {
        max-width: 190px !important;
        max-height: 37px !important;
        font-size: 11px !important;
        padding: 5px 50px !important;
    }
    .header_buttons {
        margin-top: 12% !important;
    }
}

@media (max-width: 992px) {
    .navbar-toggler-icon {
        background-image: url(../img/burger.png);
    }

    .navbar-nav {
        text-align: center;
    }

    .nav-link {
        font-size: 12px;
        margin-right: 0px;
    }

    .navbar_logo {
        width: 110px;
    }

    .navbar {
        background-color: rgba(53, 53, 49, 0.350);
    }

    .header_text_p {
        margin-top: 17%;
        line-height: 0px;
        margin-left: 18%;
    }

    .header_text_h1 {
        font-size: 17px;
        margin-left: 18%;
    }

    .header_text_h2 {
        font-size: 10px;
        margin-left: 18%;
    }

    .header_buttons {
        margin-top: 11% !important;
    }

    .header_button_left,
    .header_button_right {
        max-width: 150px !important;
        max-height: 30px !important;
        font-size: 10px !important;
        padding: 2px 30px !important;
    }

    .arrow_down img {
        width: 20px;
    }
    .arrow_down {
        margin-top: 20px;
    }
}

@media (max-width: 720px) {
    .nav-link {
        font-size: 10px;
    }

    .navbar_logo {
        width: 90px;
        margin-top: 0px;
    }
    .header_text_p {
        font-size: 8px;
    }
    .header_text_h2 {
        font-size: 9px;
    }
     .header_button_left,
    .header_button_right {
        width: 150px !important;
        height: 20px !important;
        font-size: 10px !important;
        line-height: 10px !important;
    }

}

@media (max-width: 576px) {
    .navbar_logo {
        width: 70px;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }

    .navbar {
        padding: 0px;
    }

    .navbar-brand {
        margin-top: 0px;
    }

    .nav-link:hover {
        border-bottom: none;
    }
    .header_text_p {
        margin-top: 7%;
        margin-left: 3%;
        font-size: 4px;
    }

    .header_text_h1 {
        font-size: 9px;
        margin-left: 3%;
        line-height: 22px;
    }

    .header_text_h2 {
        font-size: 6px;
        margin-left: 3%;
        line-height: 11px;
    }
}

/***************************************** Бэкграунд *********************************************/


@media (max-width: 1710px) {
    .background_1 {
        background-size: contain;
    }
}